body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange{
    color: orange;
}
.fexible-container{
    display: flex;

}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    padding-left: 50px;
    box-shadow: 10px 10px 40px gray;
    background-image: url(images/moyen.png);
    background-repeat: no-repeat;
}
.hire-me{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
    height: 100%;
}
.link-button{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 40px;
} 
.half-width p{
    width: 80%;
    text-align: justify;
}
.dream-big{
    padding-top: 10px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

#stack-item{
    border-left: 5px solid;
    border-image: linear-gradient(salmon,blue);
    border-image-slice: 1;
}
#dev-item{
    border-left: 5px solid;
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1; 
}
.main-footer p{
    text-align: center;
}